body
{
    background-image: url(test.png);
    background-size: cover;
    height: 100vh;
}
ul
{
    margin: 0;
    padding: 0;
}
li
{
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: black
}

li
{
    float: right;
    font-size: 1.01em;
    margin:20px 10px 20px 10px;
}
li a
{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 22px;
}
#icon
{
    font-weight: bold;
    float: left;
    border: none;
        outline: none;
        background: #b4b4c0;
        padding: 3px 10px;
        width: 100px;
        margin-top: 1px;
        border-radius: 10px;
        font-size: 600;
        cursor: pointer;
}
.F_password
{
    text-align: center;
    padding: 50px;
    color: white;
    
}
#try
{
    font-weight: bold;
        border: none;
        outline: none;
        background: #b4b4c0;
        padding: 3px 10px;
        width: 100px;
        margin-top: 1px;
        border-radius: 10px;
        font-size: 600;
        cursor: pointer;
}