
body
{
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(css_back.jpg);
    background-size: cover;
  
}
.header
{
    padding-top: 10px;
    position: fixed;
    width: 99.5%;

}
.btn
{
    width: 90px;
    height: 40px;
    background: transparent;
    border: 2px solid #000000;
    outline: none;
    color: #0c0c0c;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 10px;
    float: right;
    transition: 1.5s;
}
.btn:hover
{
    background-color: #f3f3f3;
    color: #000000;
}

/*=================================================>Forgot_password style==============================*/
.body2
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box{
    position: relative;
    width: 500px;
    height: 345px;
    background: #858080b9;
    border-radius: 8px;
}

.forgot_password_form{
    position: absolute;
    border-radius: 10px;
    z-index: 10;
    padding: 10px 10px;
    padding-right: 77px;
    display: flex;
    flex-direction: column; 
}
.paragraph
{
    font-size: 1.1em;
    text-align: left;
    color: #000;
}

.paragraph p
{
    font-size: 1.2em;
    color: #000000;
}

p
{
    font-size: 1.1em;
    color:#000;
    text-align: left;
}
.inputs input
{
    padding: 05px;
    width: 450px;
    height: 25px;
    font-size: 1.1em;
    text-align: left;
    background: #f1f1f1;
    color: #000000;
}
.buttom input
{
    margin-top: 20px;
    width: 140px;
    height: 50px;
    background-color: transparent;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.buttom input:hover
{
    background: #f3eeee;
    color: #130469;
}