
*
{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

.header
{
    background-image: url(css_back.jpg);
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px ; 
    width: 100%;
}
.header p
{
    font-size: 1.3em;
    cursor:default;
}
.navbar a
{
    position: relative;
    font-size: 1.2em;
    padding-left: 10px;
    text-decoration: none;
    color: #000;
    transition: .5s;
}
.navbar a:hover
{
    color: #fff;
}
.navbar input
{
    width: 90px;
    height: 30px;
    font-size: .80em;
    border-radius: 6px;
    cursor: pointer;
}
.navbar input:hover
{
    background-color: #230f0f;
    color: white;
    border-color: #fff;
}
  
